@mixin vertical-flip {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

a {
  text-decoration-line: none;

  &:hover {
    text-decoration-line: underline;
  }
}

#ribbon-rack {
  // Flipping the ribbon 180 vertically to show the offset
  &,
  .v-image {
    // Double flipping the image so that is shows up in the original position
    @include vertical-flip();
  }
}
