django
psycopg2
mysqlclient
channels
djangorestframework
django-cors-headers
markdown
django-filter
channels_redis
redis
daphne
Pillow
PyJWT==2.1.0
djangorestframework_simplejwt
django-storages[azure]