{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col">
                <h1>Thank You!</h1>
                <br>
                <p>{{ prospective.first_name }} "{{ prospective.callsign }}" {{ prospective.last_name }}, Your
                    application has been submitted. Please review our welcome package and join our discord server where you can to speak to our
                    recruiters by clicking on the buttons below.</p>
                <a href="https://docs.google.com/document/d/e/2PACX-1vQsbmbccbTAWJm5y9GQGos2gSHEzrMH2i6SnTIYarAlOzhFn-Pe4foQYzu_ww56Upi3SDA1Fx7MJ9Zf/pub"
                   class="btn btn-secondary btn-lg" role="button" aria-disabled="true">Welcome Package</a>
                <a href="https://discord.gg/fRKKHMpJnt" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">JTF-191 Discord</a>
            </div>
        </div>
{% endblock %}